.root {
  padding: 100px;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  span {
    font-size: 64px;
    margin-bottom: 20px;
  }
  b {
    font-size: 20px;
  }
}
.description {
  font-size: 22px;
  line-height: 30px;
}
