.header {
  background-color: rgba(3, 37, 65);
}
.container {
  min-width: 1170px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.logo {
  margin-right: 50px;
  img {
    width: 50px;
  }
}
.categories {
  flex: 1 1 auto;
}
.ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  .li {
    font-size: 16px;
    font-family: 'Source sans pro', sans-serif;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: #ff4500;
    }
    &.active {
      color: #ff4500;
      border-bottom: 3px solid #ff4500;
    }
  }
}
.header__cart {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
}

.button__cart {
  color: #fff;
  background-color: #fe5f1e;
  border-radius: 30px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  svg {
    margin-right: 8px;
    margin-bottom: 1px;
  }
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
